@import "src/styles";

.TimeInputWindow {
  @include text-wrapper-gray;
  width: max-content;

  .TimeInputWindow__input {
    margin-right: 10px;
    width: 100px;
  }

  .TimeInputWindow__field {
    width: max-content;
    margin-left: auto;
  }
}
