$title-color: #A03123;
$primary: #9F2D20;
$secondary: #A8ADB4;
$gray: #656f75;
$black: #131313;

$border-radius: 1rem;

$transition-time: 200ms;
$transition-function: ease-in-out;
$presentation-gradient: linear-gradient(
                to right,
                $primary 30%,
                $secondary 30%,
                $secondary 35%,
                $gray 35%,
                $gray 50%,
                $secondary 50%,
                $secondary 65%,
                $primary 65%,
                $primary 75%,
                $secondary 75%,
                $secondary 100%
);
